<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.cyweb.mapper.YangCurrencyUserMapper">
  <resultMap id="BaseResultMap" type="net.cyweb.model.YangCurrencyUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="cu_id" jdbcType="INTEGER" property="cuId" />
    <result column="member_id" jdbcType="INTEGER" property="memberId" />
    <result column="currency_id" jdbcType="INTEGER" property="currencyId" />
    <result column="num" jdbcType="DECIMAL" property="num" />
    <result column="forzen_num" jdbcType="DECIMAL" property="forzenNum" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="chongzhi_url" jdbcType="VARCHAR" property="chongzhiUrl" />
    <result column="show" jdbcType="INTEGER" property="show" />
  </resultMap>

  <resultMap id="BaseResultMapEmail" type="net.cyweb.model.modelExt.YangCurrencyUserExt" extends="BaseResultMap">
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>

  <sql id="funCurrencyUserColumns">
		a.cu_id AS "cuId",
		a.member_id AS "memberId",
		a.currency_id AS "currencyId",
		a.num AS "num",
		a.forzen_num AS "forzenNum",
		a.status AS "status",
		a.chongzhi_url AS "chongzhiUrl",
		a.show AS "show",
        b.currency_mark as "currencyMark"
	</sql>


  <insert id="replaceIntochongzhiUrl" parameterType="net.cyweb.model.YangCurrencyUser" >
    replace into yang_currency_user (`currency_id`,`member_id`,`chongzhi_url`,`num`,`forzen_num`,`status`,`show`)
    VALUES( #{currencyId} ,#{memberId},#{chongzhiUrl}, #{num},#{forzenNum},#{status},#{show})
  </insert>

  <select id="getYangCurrencyUserAndEmail" parameterType="net.cyweb.model.YangCurrencyUser" resultMap="BaseResultMapEmail">
    select yu.*,ym.email from yang_currency_user yu left join yang_member ym on yu.member_id = ym.member_id where yu.currency_id = #{currencyId} and yu.chongzhi_url is not  null and yu.chongzhi_url != ''
  </select>

  <select id="getAllCurrencyList" parameterType="map" resultType="net.cyweb.model.YangCurrencyUser">
    select
    <include refid="funCurrencyUserColumns"/>
    from yang_currency_user a
    left join yang_currency b on a.currency_id=b.currency_id
    <where>
      <if test="memberId != null and memberId != ''">
        AND a.member_id = #{memberId}
      </if>
    </where>
  </select>

    <select id="isHasEnoughBM" resultType="java.util.Map">
        select a.cu_id as cuid,a.member_id as memberId,a.currency_id as currencyId,a.num,a.forzen_num as forzenNum,a.status,a.chongzhi_url as chongzhiUrl,a.show from yang_currency_user a LEFT JOIN yang_currency b on a.currency_id = b.currency_id where a.member_id = #{memberId} and b.currency_mark = "BM"
    </select>
</mapper>